@model List<PersonagemViewModel>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Personagem</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Rick and Morty Personagens</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Espécie</th>
                    <th>Gênero</th>
                    <th>Origem</th>
                    <th>Localização</th>
                    <th>Criado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var personagem in Model)
                {
                    <tr>
                        <td><img src="@personagem.Imagem" alt="@personagem.Nome" width="100" height="100" /></td>
                        <td>@personagem.Nome</td>
                        <td>@personagem.Tipo</td>
                        <td>@personagem.Especie</td>
                        <td>@personagem.Genero</td>
                        <td>@personagem.Origem.Nome</td>
                        <td>@personagem.Localizacao.Nome</td>
                        <td>@personagem.Criado</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
