@model List<RickMortyAPI.Models.LocalizacaoViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Localizacao</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Rick and Morty Localizacoes</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Dimension</th>
                    <th>Residents</th>
                    <th>Url</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var localizacao in Model)
                {
                    <tr>
                        <td>@localizacao.Id</td>
                        <td>@localizacao.Name</td>
                        <td>@localizacao.Type</td>
                        <td>@localizacao.Dimension</td>
                        <td>@localizacao.Residents</td>
                        <td>@localizacao.Url</td>
                        <td>@localizacao.Created</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
